

.version.index {
	color: #00001B;
	background-color: #593D43;
}

#page {
	z-index: 1;
	min-height: 418px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 20px;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u94 {
	z-index: 2;
	background-color: transparent;
	position: relative;
	width: 75.84%;
	margin-left: 14.9%;
}

#pu127 {
	z-index: 12;
	margin-top: 7px;
	width: 75.84%;
	margin-left: 14.9%;
}

#u127 {
	z-index: 12;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 26.52%;
}

#ppu104-4 {
	z-index: 0;
	margin-right: -10000px;
	width: 72.81%;
	margin-left: 27.2%;
}

#pu104-4 {
	z-index: 4;
	width: 100%;
}

#u104-4 {
	z-index: 4;
	min-height: 77px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	width: 84.53%;
}

#u107 {
	z-index: 8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 21.7%;
	left: 78.31%;
}

#u137-4 {
	z-index: 14;
	min-height: 37px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	width: 18.68%;
}

#u143-4 {
	z-index: 22;
	min-height: 37px;
	background-color: transparent;
	font-size: 30px;
	color: #A9006B;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	width: 34.53%;
	left: 37.55%;
}

#pu140-4 {
	z-index: 18;
	margin-top: 14px;
	width: 72.08%;
}

#u140-4 {
	z-index: 18;
	min-height: 61px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	width: 43.2%;
}

#u146-4 {
	z-index: 26;
	min-height: 37px;
	background-color: transparent;
	font-size: 30px;
	color: #A9006B;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 47.91%;
	left: 52.1%;
}

#pu155 {
	z-index: 35;
	margin-top: 12px;
	width: 75.84%;
	margin-left: 14.9%;
}

#u155 {
	z-index: 35;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 18.14%;
}

#pu152 {
	z-index: 34;
	margin-right: -10000px;
	margin-top: 24px;
	width: 13.88%;
	margin-left: 46.3%;
}

#u152 {
	z-index: 34;
	height: 36px;
	background-color: #FFF9F8;
	position: relative;
	width: 100%;
}

#u149-4 {
	z-index: 30;
	min-height: 35px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	margin-top: 5px;
	position: relative;
	width: 96.04%;
	margin-left: 3.97%;
}

#u117 {
	z-index: 10;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 31.19%;
	left: 68.82%;
}

#u94_img,
#u127_img,
#u107_img,
#u155_img,
#u117_img {
	width: 100%;
}

.css_verticalspacer .verticalspacer {
	height: calc(100vh - 499px);
}

#muse_css_mq,
.html {
	background-color: #FFFFFF;
}

body {
	position: relative;
	min-width: 320px;
}

